.menu{
  box-shadow: 0 10px #000;
  position: relative;
 img{
   width: 200px;
   display: block;
   margin: 0 auto;
   padding: 20px 0;
 }
 a{
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
 }
}