.btn{
  padding: 20px;
  font-size: 18px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  box-shadow: $shadow-primary;
  
  &.btn-primary{
    background: linear-gradient($secondary, $primary);
    background-color: $primary;
    color: $white;
    &:hover{
      background: linear-gradient($secondary-darker, $primary-darker);
    }
  }
}

.btn-coeur{
  background-color: transparent;
  border: none;
  font-size: 40px;
  position: relative;
  transition: 1s;
  transition-property: opacity;
 
  .plien{
    opacity: 0;
    position: absolute;
    bottom: 4px;
    right: 5px;
    transition: opacity 1s ease-out;
  }
  &:hover{
    .plien{
      color: $primary;
      opacity: 1;
    }
  }
  
}