.btn{
  padding: 15px;
  font-size: 18px;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  box-shadow: $shadow-primary;
  
  &.btn-primary{
    background: linear-gradient($secondary, $primary);
    background-color: $primary;
    color: $white;
    &:hover{
      background: linear-gradient($secondary-darker, $primary-darker);
    }
  }
}

.btn-coeur{
  background-color: transparent;
  border: none;
  font-size: 30px;
 
  .plien{
    display:none;
  }
  &:hover{
    .plien{
      color: $primary;
      display: inline;
    }
    .vide{
      display:none;
    }
  }
  
}