.card{
  background-color: $white;
  border-radius: 20px;
  box-shadow: $shadow-primary;
  margin: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;

  &-title{
    font-size: 25px;
    margin-top: 10px;
    h3{
      margin-bottom: 10px;
    }
  }

  a{
    display: block;
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    position: relative;
    
    .new{
      color: #09a910;
      background-color: $tertiary;
      padding: 10px 15px;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      font-weight: 600;
    }
    img{
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center center;
    }
  }

  figcaption{
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}