
form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 82px;
  input{
    width: 300px;
    height: 65px;
    font-size: 25px;
    border:none;
  }
}
input[type="text"]
{
  font-family: 'Raleway', sans-serif;
}