*, ::after, ::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  max-width: 750px;
}

section {
  padding: 20px;
}

img {
  width: 100%;
}

a {
  color: #000;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}
ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px;
}
footer h5 {
  margin-bottom: 20px;
}

nav {
  box-shadow: 0 10px #000;
  position: relative;
}
nav img {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
nav a {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
}

.localisation {
  background-color: #eae7e7;
}
.localisation span {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.container-restaurants {
  background-color: #eeeeee;
}

.presentation {
  background-color: #eeeeee;
  text-align: center;
  width: 100%;
  padding: 50px 20px;
}
.presentation p {
  margin-bottom: 40px;
  line-height: 26px;
}

.menu-resto {
  width: 100%;
  border-radius: 50px 50px 0 0;
  background-color: #eeeeee;
  margin-top: -116px;
  overflow: overlay;
}

.bloc-menu .card-menu {
  margin-top: 20px;
}

.title-restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  margin-bottom: 50px;
}
.title-restaurant h1 {
  margin-bottom: 0;
  font-size: 40px;
}

.btn {
  padding: 15px;
  font-size: 18px;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 6px 9px #000;
}
.btn.btn-primary {
  background-color: #9356DC;
  color: #fff;
}

.list-card {
  padding: 0 20px;
}
.list-card .card {
  margin-bottom: 20px;
}

.card {
  padding: 20px;
  background-color: #eeeeee;
  position: relative;
  border-radius: 20px;
}
.card-body .box-round {
  position: absolute;
  background-color: #9356DC;
  left: -10px;
  padding: 3px 8px;
  border-radius: 35px;
  color: #fff;
  font-size: 18px;
}
.card-body i {
  margin: 0 20px;
}

.card-menu {
  padding: 14px;
  background-color: #fff;
  border-radius: 20px;
}
.card-menu .card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-menu .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-title {
  width: 50px;
  background: green;
  height: 4px;
  margin: 4px 0 15px;
}

.card-img {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 6px 17px var(--color-thirdly);
  margin: 20px;
}
.card-img .card-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  position: relative;
}
.card-img .card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}
.card-img .card-image .new {
  color: #84c787;
  background-color: #a0e5a3;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
}
.card-img .card-body {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-img .card-body i {
  font-size: 30px;
}
.card-img .card-body .card-title {
  font-size: 20px;
  margin-top: 10px;
}
.card-img .card-body .card-title h4 {
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
