.bg-color-grey {
  background-color: #eeeeee;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.card-menu {
  padding: 14px;
  background-color: #fff;
  border-radius: 20px;
}
.card-menu .card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-menu .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input {
  width: 100%;
  height: 50px;
  text-align: center;
}

.cartridge {
  border-radius: 20px;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 30px;
  padding: 20px 0;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}
.cartridge .box-round {
  position: absolute;
  background-color: #9356DC;
  left: -10px;
  padding: 3px 8px;
  border-radius: 35px;
  color: #fff;
  font-size: 18px;
}
.cartridge i {
  margin: 0 10%;
}

.menu {
  box-shadow: 0 10px #000;
  position: relative;
}
.menu img {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
.menu a {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
}

.content {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

html {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  color: #000;
  font-size: 20px;
  background-color: #fff;
}

section {
  padding: 20px;
}

img {
  width: 100%;
}

a {
  color: #000;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}
ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px;
}
footer h5 {
  margin-bottom: 20px;
}

nav {
  box-shadow: 0 10px #000;
  position: relative;
}
nav img {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
nav a {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
}

.container-restaurants {
  background-color: #eeeeee;
}

.presentation {
  background-color: #eeeeee;
  text-align: center;
  width: 100%;
  padding: 50px 20px;
}
.presentation p {
  margin-bottom: 40px;
  line-height: 26px;
}

.menu-resto {
  width: 100%;
  border-radius: 50px 50px 0 0;
  background-color: #eeeeee;
  margin-top: -116px;
  overflow: overlay;
}

.bloc-menu .card-menu {
  margin-top: 20px;
}

.title-restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  margin-bottom: 50px;
}
.title-restaurant h1 {
  margin-bottom: 0;
  font-size: 40px;
}

.btn {
  padding: 15px;
  font-size: 18px;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 6px 9px #000;
}
.btn.btn-primary {
  background-color: #9356DC;
  color: #fff;
}

.list-card {
  padding: 0 20px;
}
.list-card .card {
  margin-bottom: 20px;
}

.card {
  padding: 20px;
  background-color: #eeeeee;
  position: relative;
  border-radius: 20px;
}
.card-body i {
  margin: 0 20px;
}

.card-menu {
  padding: 14px;
  background-color: #fff;
  border-radius: 20px;
}
.card-menu .card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-menu .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-title {
  width: 50px;
  background: green;
  height: 4px;
  margin: 4px 0 15px;
}

.card-img {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 6px 17px var(--color-thirdly);
  margin: 20px;
}
.card-img .card-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  position: relative;
}
.card-img .card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}
.card-img .card-image .new {
  color: #84c787;
  background-color: #a0e5a3;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
}
.card-img .card-body {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-img .card-body i {
  font-size: 30px;
}
.card-img .card-body .card-title {
  font-size: 20px;
  margin-top: 10px;
}
.card-img .card-body .card-title h4 {
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
