.presentation{
  background-color: $grey;
  text-align: center;
  width: 100%;
  padding: 50px 20px;
  h1{
    font-family: 'Roboto', sans-serif;
  }
  p{
    margin-bottom: 40px;
    line-height: 30px;
  }
}

.container-restaurants{
  background-color: $grey;
}