.menu-resto{
  width: 100%;
  border-radius: 50px 50px 0 0;
  background-color: #FFF;
  margin-top: -116px;
  padding:20px;
  overflow: overlay;

}

.title-restaurant{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 20px;
  h1{
    margin-bottom: 0;
    font-size: 40px;
  }
}

.menu-title{
  font-weight: normal;
  h2{
    margin-bottom: 10px;
  }
  hr{
    width: 50px;
    height: 5px;
    background-color: $tertiary;
    margin-top: 0;
  }
}